In [1]:
import pandas as pd
from pandasql import sqldf
import xlrd

In [2]:
datos = pd.read_excel("2014.xls")

In [3]:
datos.head(5)

         Dia   Valor
0 2014-01-02  524.61
1 2014-01-03  529.55
2 2014-01-04     NaN
3 2014-01-05     NaN
4 2014-01-06  528.80

In [4]:
type(datos["Dia"])

pandas.core.series.Series

In [5]:
datos["Dia"]  = pd.to_datetime(datos["Dia"])

In [76]:
type(datos["Dia"])

pandas.core.series.Series

In [77]:
datos.head(5)

         Dia   Valor
0 2014-01-02  524.61
1 2014-01-03  529.55
2 2014-01-04     NaN
3 2014-01-05     NaN
4 2014-01-06  528.80

In [6]:
datos["Dia"][100].day

12

In [7]:
datos.dropna(axis=0, inplace = True)

In [8]:
datos.head()

         Dia   Valor
0 2014-01-02  524.61
1 2014-01-03  529.55
4 2014-01-06  528.80
5 2014-01-07  531.14
6 2014-01-08  531.65

In [10]:
dolars = pd.DataFrame()
# SCHEMA {"Aﾃ前": XXXX, "MES": XX, "VALOR": 0000}
# dolar_2014 = dolar_2014.append({'Aﾃ前': '2014', 'MES': 9, 'VALOR': 500}, ignore_index=True)
# new = pd.concat([df3, df4], axis=0)

In [11]:
datos["Aﾃ前_Q"] = datos["Dia"].dt.year
datos["MES_Q"] = datos["Dia"].dt.month
datos["DIA_Q"] = datos["Dia"].dt.day

In [12]:
a = "SELECT Aﾃ前_Q, MES_Q, Dia_DT, VALOR FROM datos WHERE MES_Q = 1"
b = sqldf(a, globals()).tail(1)

PandaSQLException: (sqlite3.OperationalError) no such column: Dia_DT
[SQL: SELECT Aﾃ前_Q, MES_Q, Dia_DT, VALOR FROM datos WHERE MES_Q = 1]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [14]:
datos.drop("DIA", inplace = True, axis = 1)
datos.head()

KeyError: "['DIA'] not found in axis"

In [15]:
b.head()

NameError: name 'b' is not defined

In [16]:
dolars = pd.DataFrame()
for i in range(1, 13):
    query = "SELECT Aﾃ前_Q AS Aﾃ前, MES_Q AS MES, Dia_DT, VALOR AS VALOR FROM datos WHERE MES_Q = " + str(i)
    temp_row = sqldf(query, globals()).tail(1)
    print(temp_row)
    dolars = dolars.append(temp_row, ignore_index=True)

PandaSQLException: (sqlite3.OperationalError) no such column: Dia_DT
[SQL: SELECT Aﾃ前_Q AS Aﾃ前, MES_Q AS MES, Dia_DT, VALOR AS VALOR FROM datos WHERE MES_Q = 1]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [103]:
valor_dolar = pd.DataFrame()
for i in range(2014, 2023):
    archivo = str(i) + ".xls"
    temp_data = pd.read_excel(archivo)
    temp_data.dropna(axis=0, inplace = True)
    temp_data["Dia"]  = pd.to_datetime(temp_data["Dia"])
    temp_data["Aﾃ前_Q"] = temp_data["Dia"].dt.year
    temp_data["MES_Q"] = temp_data["Dia"].dt.month
    temp_data["DIA_Q"] = temp_data["Dia"].dt.day
    for i in range(1, 13):
        query = "SELECT Aﾃ前_Q AS Aﾃ前, MES_Q AS MES, VALOR AS VALOR FROM temp_data WHERE MES_Q = " + str(i)
        temp_row = sqldf(query, globals()).tail(1)
        valor_dolar = valor_dolar.append(temp_row, ignore_index=True)

In [90]:
valor_dolar.head(40)

In [93]:
valor_dolar.to_excel("valor_dolar.xlsx")

In [99]:
ufs = pd.read_excel("Cuadro_07102022191346.xlsx")

In [100]:
ufs.head()

     Periodo        UF
0 2014-01-01  23312.57
1 2014-01-02  23315.57
2 2014-01-03  23318.57
3 2014-01-04  23321.57
4 2014-01-05  23324.58

In [102]:
valor_uf = pd.DataFrame()
for i in range(2014, 2023):
    temp_data = ufs
    temp_data.dropna(axis=0, inplace = True)
    temp_data["Dia"]  = pd.to_datetime(temp_data["Periodo"])
    temp_data["Aﾃ前_Q"] = temp_data["Periodo"].dt.year
    temp_data["MES_Q"] = temp_data["Periodo"].dt.month
    temp_data["DIA_Q"] = temp_data["Periodo"].dt.day
    for j in range(1, 13):
        query = "SELECT Aﾃ前_Q AS Aﾃ前, MES_Q AS MES, UF AS VALOR FROM temp_data WHERE MES_Q = " + str(j) + " AND Aﾃ前 = " + str(i)
        temp_row = sqldf(query, globals()).tail(1)
        valor_uf = valor_uf.append(temp_row, ignore_index=True)

In [104]:
valor_uf.head()

    Aﾃ前 MES     VALOR
0  2014   1  23435.87
1  2014   2  23508.46
2  2014   3  23606.97
3  2014   4  23773.41
4  2014   5  23931.69

In [106]:
valor_uf.to_excel("valor_uf.xlsx")